body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    }


header {
    text-align: center;
    background: #ff6600;
    color: white;
    padding: 20px;
    }


.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    }


.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
    }


.card img {
    width: 100%;
    height: auto;
    display: block;
    }

    
.card p {
    padding: 10px;
    font-size: 14px;
    }


/* Pantallas grandes */
@media screen and (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
    }


